mowgli-ml-data
.idea
__pycache__
Pipfile.lock
/mowgli-ml-data/
/results/distributionplots/
/results/predictionaccuracy/
/results/timeseries/
/results/efficiencies/
/csvexport.csv
/results/Figure3.pdf
/results/TableIII.csv
/results/TableIV.csv
